:root {
  --main-color: red;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color) !important;
}

#quote-box {
  background-color: white;
  width: 550px;
  padding: 40px 50px;
  border-radius: 3px;
  padding: 40px 50px;
  column-gap: 25px;
}

#quote-box > div {
  margin-top: 25px;
}

#text {
  text-align: center;
  font-weight: 500;
  font-size: 1.75em;
}

#author {
  justify-content: flex-end;
}

#author,
#social-row {
  display: flex;
}

#quote-mark,
#text,
#author {
  color: var(--main-color);
}

#tweet-quote,
#twitter-quote {
  margin-right: 2px;
  min-width: 42px;
}

#new-quote {
  margin-left: auto;
}

#social-row {
  margin-top: 25px;
}
